* {
    box-sizing: border-box;
    
  }
  
  body { 
    margin: 0;
    font-family: 'poppins';
  }
  
  .header {
    overflow: hidden;
    background-color: gainsboro;
    padding: 20px 10px;
  }
  .header a {
    float: left;
    color: #254ef0;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin-left:30px;
    margin-right: 30px;
    transition: 1s ease;
  }
  .header a:hover {
    background-color: whitesmoke;
    color: #1B1A55;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 100px;
  }
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  .logo{
    height: 45px;
    width: 45px;
    margin-left: 30px;
    vertical-align: middle;
    border-radius: 50px;
  }
  .logo-name{
    display: inline-block;
    font-size: 18px;
    color: #254ef0;
  }
  .Pal{
    color: #358df1;
  }
  .Peso {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    padding-top: 20vh;
  }
  
  .main-sec {
    
    color: #254ef0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 90px;
    background-color: antiquewhite;
    width: 100%;
    height: 90vh;
    background-image: url(/images/bg-wave2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 22px 30px rgba(0, 0, 0, 0.9);
  }
  
  #fade-in-down {
    animation: fade-in-down 3s ease infinite;
  }
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .message {
    color: #254ef0;
    font-weight: bold;
  }
  
  .message2 {
    color: #358df1;
  }
  
  .quote {
    text-align: center; 
    font-size: 100px; 
    margin-top: -20px;
    padding-bottom: 25px;
    font-weight: bold;
    
    
    color: #254ef0; 
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 22px 30px rgba(0, 0, 0, 0.9);

  }
  
  .pal {
    color: #358df1;
  }
  
  @media screen and (max-width: 768px) {
    .Peso {
      font-size: 12vw;
      padding-top: 10vh; 
      padding-bottom: 5vh;
    }
  
    .quote {
      font-size: 12vw;
      margin-top: -3vh; 
      margin-bottom: -60px;
    }

    .main-sec {
      height: 100%;
    }
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
  }
  
  .picture-foot {
    height: auto;
    max-width: 45%;
    border: 1px solid whitesmoke;
    margin-right: 25px;
    float: right;
  }
  
  .paragrph {
    flex: 1; 
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .picture-foot {
      margin: 20px auto;
      float: none;
    }
  
    .paragrph {
      margin: 10px;
      text-align: justify;
    }
  }
  
  .baba {
    background-color: gainsboro;
    text-align: center;
    padding: 50px 70px;
  }
  
  .baba-pic {
    width: 200px;
    height: 200px;
    display: block; 
    margin: 30px auto auto auto; 
    border-radius: 500px;
  }

  #pulse {
    animation: pulse 3s infinite ease-in-out alternate;
    border-radius: 30px;
  }
  @keyframes pulse {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
  }
  
  h1 {
    font-size: 6vw; 
    margin: 0; 
    color: #1B1A55;
  }
  
  h2 {
    font-size: 3vw; 
    margin-top: 5px; 
    color:#1B1A55;
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 10vw; 
    }
    
    h2 {
      font-size: 5vw; 
      margin-top: 10px; 
    }

  }
  
  .baba {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 50px;
  }
  
  .socials {
    width: 30%;
    text-align: left;
    letter-spacing: 2px;
    font-size: 11px;
    margin: 100px 100px;
    font-weight: bold;
    color: #333;
  }
  
  .socials  img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    
  }

  
  .fbandtwitter {
    display: flex;
    justify-content: space-between;
  }
  
  .instaandtiktok {
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    width: 100%;
    position: absolute;
    background-color: #1B1A55;
    text-align: center;
    color: white;
  }
  
  
  @media screen and (max-width: 768px) {
    .baba{
      display: block;
    }
  
    .socials {
      margin: 0px 10px;
      display: flex;
      justify-content: space-around;
      width: auto;
      text-align: center;
      flex-direction: column;
    }
  }

  .container {
    width: 100%;
    margin-top: 0;
    padding-top: 5px;
    text-align: center;
    background-image: url(../images/bg-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card {
    margin: 20px auto;
  }  

  .container .card {
    padding: 20px;
    
    width: 50vw;
    margin-top: 0px;
    display: flex;
    background-color: whitesmoke;
    border-radius: 70px;
  }

  .card-image img{
    width: 250px;
    height: 250px;
    border: 2px solid #358df1;
    border-radius: 50px;
    margin-left: 50px;
    margin: auto auto;

  }

  @media screen and (max-width: 768px) {
    .container {
      height: auto;
      text-align: justify;
      letter-spacing: -1px;
      margin: auto auto;
    }

    .description p {
      font-size: x-small;
    }

    .card {
      text-align: center;
    }

    .container .card {
      flex-direction: column-reverse;
    }

    .card-image img {
      width: 70px;
      height: 70px;
    }
  }
