* {
    box-sizing: border-box;
  }
  
  body { 
    margin: 0;
    font-family: 'poppins';
    background-color: rgb(185, 185, 185);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  
  .header {
    overflow: hidden;
    background-color: gainsboro;
    padding: 20px 10px;
  }
  .header a {
    float: left;
    color: #254ef0;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin-left:30px;
    margin-right: 30px;
    transition: 1s ease;
  }
  .header a:hover {
    background-color: whitesmoke;
    color: #1B1A55;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 100px;
  }
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  .logo{
    height: 45px;
    width: 45px;
    margin-left: 30px;
    vertical-align: middle;
    border-radius: 50px;
  }
  .logo-name{
    display: inline-block;
    font-size: 18px;
    color: #254ef0;
  }
  
  .peso{
    color: #254ef0;
  }

  .pal {
    color: #358df1;
  }

  h1 {
    text-align: center;
  }

  .container{
    height: 100vh;
    width: auto;
  }

  .container img {
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border: #358df1 solid 2px;
    border-radius: 50px;
    transition: 1s ease;
  }

  .container img:hover {
    transform: scale(1.02);
  }

  .container div {
    margin: 50px 35px;
  }

  .images1 {
    display: flex;

  }
  
  .images2 {
    display: flex;
    
  }

  .images3 {
    display: flex;
    
  }

  @media screen and (max-width: 500px) {
    .container .image {
      flex-direction: column;
    }

    .container {
      margin: 0 auto;
      width: 100%;
      height: auto;
    }

  }